.Container{
    margin: 0px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont{
    display: flex;
    height: 100px;
    width: 500px;
    justify-content: space-around;
    flex-direction: row;

}

.box{
    height: 50px;
    width: 20%;
    text-align: center; 
    border: 2px solid black;
}