/* .subCont{
    border: 1px solid black;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border: 1px solid black;
    padding: 1rem;
    
} */